h1{
    font-family: 'JetBrains Mono', monospace;
}

body{
    background-color: rgb(54, 54, 54);
    color: rgb(222, 70, 08);
}

#dados{
    font-style: italic;
}

h3{
    font-family: 'JetBrains Mono', monospace;
    color: burlywood;
}

#linkedin{
    background-color: whitesmoke;
}
#github{
    background-color: whitesmoke;
}